#body {
    background-color: aqua;
}

#img1 {
    height: 100px;
    width: 100px;
}

#img2 {
    height: 100px;
    width: 100px;
}

#img3 {
    height: 100px;
    width: 100px;
}

#img4 {
    height: 100px;
    width: 100px;
}
